<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Postagens Node.js</title>
</head>
<style>
    body{
        background-color: rgb(126, 150, 223);
        margin: 0px;
        padding: 0px;
        color: white;
    }
    main{
        width: 960px;
        margin: auto;
    }
    #headerGeral{
        width: 100%;
        margin: 0px;
        background-color: white;
        padding: 80px;
        text-align: center;
        color: black;
    }
    a{
        color: black;
        text-decoration: none;
        
    }
    #headerGeral h1{
        margin: 0px;
    }
</style>
<body>
    <header id="headerGeral">
        <h1>Projeto criado usando o Framework Express</h1>
        <p>projeto desenvolvido usando os modulos: <a href="https://sequelize.org/"><strong>sequelize</strong></a>,<a href="https://handlebarsjs.com/"><strong>handlebars</strong></a>,<a href="https://www.npmjs.com/package/body-parser"><strong>body-parser</strong></a>
    </header>
    
        {{{body}}}
    
    
</body>
</html>